{% extends 'base.html.twig' %}

{% block title %}Créer un Nouvel Établissement{% endblock %}

{% block body %}
    <div class="container mt-4" style="width: 40rem;">
        <h1 class="mb-4">Créer un Nouvel Établissement</h1>

        <div class="card">
            <div class="card-header">
                <h5 class="m-0">Formulaire de Création</h5>
            </div>
            <div class="card-body">
                {{ include('establishment/_form.html.twig') }}
            </div>
            <div class="card-footer text-end">
                <a href="{{ path('app_establishment_index') }}" class="btn btn-secondary">Retour à la liste</a>
            </div>
        </div>
    </div>
{% endblock %}