{% extends 'base.html.twig' %}

{% block title %}Edit OutOfService{% endblock %}

{% block body %}
    <h1>Edit OutOfService</h1>

    {{ include('out_of_service/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_out_of_service_index') }}">back to list</a>

    {{ include('out_of_service/_delete_form.html.twig') }}
{% endblock %}
